.log-view .list-cell {
    -fx-font-family: monospace;
}

.log-view .list-cell:debug {
    -fx-text-fill: darkgray;
}

.log-view .list-cell:info {
    -fx-text-fill: green;
}

.log-view .list-cell:warn {
    -fx-text-fill: purple;
}

.log-view .list-cell:error {
    -fx-text-fill: red;
}